<%- include('partials/header') -%>
    <main class="main-carousel" data-flickity='{ "cellAlign": "right", "contain": true, "wrapAround": true, "selectedAttraction": 0.005}'>  <!-- "autoPlay": 5000,  0.005 --> 
            <% if (posts) { %>
                <% for(let i=0; i<posts.length; i++) { %>

                    
                    <div class="carousel-cell">
                        <div class="homeMainText text-cell<%=i%>">
                            <h1><%= posts[i].title %></h1>
                            <p><%= posts[i].caption %></p>
                            <button class="secondary-btn">See more</button>
                        </div> 
                        <img src="<%= posts[i].image %>">
                    </div>
                <% } %> 
            <% } %> 
    <!-- <main>
        <%- include('partials/carousel') -%> -->
    </main> 

    <section id="info">
        <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1668728513/only-logo_ceberg.png" alt="only-logo">
        <h2>The Right Angle</h2>
        <p>Founded in 2021 by Jelena and Jovana, The Right Angle has rapidly gained an international reputation</p>
        <p>for excellence in the visual representation of architecture and the built environment. As poineers of digital technologies</p>
        <p>for graphic representation of the built environment, we continue to operate ahead of the curve, providing progressive and</p>
        <p>ambitious clients with game changing content</p>
        <p class="helpLink"><a href="#">See how can we help<i class="fa-solid fa-arrow-right"></i></a></p>
    </section>
    
    <section class="homeFavourites">


        <div class="homeFavouritesHeader favFlex">
            <h2>Our Favourite Projects</h2>
            <a href="" class="aFav">All projects</a>
        </div>

        <div class="favPairOne favFlex">
            <div class="homeHoverOne favHover">
                <div class="favImg">
                    <img src="<%= posts[0].image %>" alt="">
                </div>
                
                <div class="favArrow">
                    <p><b>Modern Family House</b><br>San Diego, CA</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            <div class="favHover">
                <div class="favImg">
                    <img src="<%= posts[0].image %>" alt="">
                </div>
                <div class="favArrow">
                    <p><b>Refurbished City Library</b><br>Naissus, RS</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>

        <div class="soloOne favHover favFlex">
            <h3><span>147+</span><br>rendered buildings, apartment, houses & offices.</h3>
            <div>
                <div class="favImg">
                    <img src="<%= posts[0].image %>" alt="">
                </div>
                <div class="favArrow">
                    <p><b>Modern Family House</b><br>San Diego, CA</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            
        </div>

        <div class="carousel" data-flickity='{ "cellAlign": "center", "contain": true, "wrapAround": true, "selectedAttraction": 0.005, "draggable": false}'>
            <div class="carousel-cell text-carousel">
                <h2>" Right Angle provides us with great ideas and with great details about our projects - they're awesome! "</h2>
                <p>ROBY THOMPSON, CANASTA LLC</p>
            </div>
            <div class="carousel-cell text-carousel">
                <h2>" Oh my dear friends, what'sssss gona BEEEEEEE toniiiight, I dzast wanna say Right Angle is FANTASTIK "</h2>
                <p>NENAD KNEŽEVIĆ, MONTENEGRO TITOGRAD</p>
            </div>
        </div>

        </div>

        <div class="favPairTwo favFlex">
            <div class="favHover">

                <div class="favImg">
                    <img src="<%= posts[0].image %>" alt="">
                </div>

                <div class="favArrow">
                    <p><b>Two Story House in the Hills</b><br>Santa Fe, CA</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>

            </div>

            <div class="favHover">

                <div class="favImg">
                    <img src="<%= posts[0].image %>" alt="">
                </div>

                <div class="favArrow">
                    <p><b>Apartment Interior</b><br>Copenhagen, DK</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>

            </div>
        </div>
        <div class="soloTwo favHover favFlex">
            <div class="favImg">
                <img src="<%= posts[0].image %>" alt="">
            </div>
            <div>
                <h3>Wonderful experience working with Right Angle Studio for our office building project. Amazing talent!</h3>
                <p>JENNA KENSIGTON, DARENN & LAURIE GROUP LTD</p>
                <a href="">Read more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </section>
    
    <section id="service-types">
        <div class="service-title">
            <h2>Whether you need rendering, sketches or VR,<br><span>our wide array of services</span> got your back -<br>tested and proven in over <span>147 projects</span></h2>
        </div>

        <div class="service-div">
            <div class="solo-service">
                <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1669912362/service_one_ecilem.png" alt="">
                <h3>Architecture & Interior</h3>
                <p>Get the help you need because you need <br>it a lot and them some and them some.</p>
                <a href="">Learn more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="solo-service"> 
                <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1669912362/service_two_wbjyu1.png" alt="">
                <h3>VR preview & 360</h3>
                <p>Get the help you need because you need <br>it a lot and them some and them some.</p>
                <a href="">See in VR <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>

        <div class="service-div">
            <div class="solo-service"> 
                <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1669912362/service_three_bpqdbb.png" alt="">
                <h3>Design</h3>
                <p>Get the help you need because you need <br>it a lot and them some and them some.</p>
                <a href="">Get the total package <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="solo-service"> 
                <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1669912362/service_four_qfxfkt.png" alt="">
                <h3>Furniture & Objects</h3>
                <p>Get the help you need because you need <br>it a lot and them some and them some.</p>
                <a href="">Browse our items <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>

        <div class="btn-link">
            <button>Explore our services</button>
            <a href="">Or see our projects <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </section>  
    <section class="mini-contact">
        <div>
            <p><span>Ready to start?</span> Let's create something amazing!</p>
        </div>
        <div class="mc-btn">
            <button class="mc-btn-one" onclick="window.location.href='/Contact'">Contact Us</button>
            <button class="mc-btn-two">Check out our services</button>  
        </div>
    </section>

<%- include('partials/footer') -%>